input, select, textarea, .Lightbox__meta--content
  background-color darkBlue
  border 0
  border-bottom 1px solid #535766
  margin .5rem 0 2rem 0
  padding .5rem
  color #999999
  font-size 1.6rem
  width 100%
  box-sizing border-box
  font-family typewriter

  &:focus
    background-color darkGrey
    outline none

input[type="file"]
  font-size 1.2rem


textarea
  border 1px solid #535766

label
  font-size 1.2rem
  text-transform uppercase
  letter-spacing 0.2em
  display block

input[type="checkbox"]
  width auto
  margin 0 .5rem 0 0

.categories
  margin .5rem 0
  display flex
  flex-wrap wrap
  justify-content space-between

  & > div
    width 48%
    display flex
    align-items stretch
    flex-wrap nowrap
    margin-bottom .5rem

    button
      flex-grow 1
      padding 0 .5rem

  input
    width 90%
    margin 0
    border 1px solid #535766

  + button
    padding 0
    background none 
    border none
    font-size 1.2rem
    text-decoration underline
    margin-bottom 2rem

.checkbox
  display inline-block 
  margin .5rem 1rem 0 0

  label
    display inline-block 
    text-transform none
    letter-spacing 0.05em