input, textarea, .Lightbox__meta--content
  background-color darkBlue
  border 0
  border-bottom 1px solid #535766
  margin .5rem 0 2rem 0
  padding .5rem
  color #999999
  font-size 1.6rem
  width 100%
  box-sizing border-box
  font-family monospace

  &:focus
    background-color darkGrey
    outline none

input[type="file"]
  font-size 1.2rem

textarea
  border 1px solid #535766

label
  font-size 1.2rem
  text-transform uppercase
  letter-spacing 0.2em
  display block