html
  font-size 9px

.App
  padding 0 1rem

.Nav
  padding 3rem 0 2rem 0

  &__logo
    margin 0 auto 2rem auto

  nav 
    width 100%

  &__items
    max-width 32rem
    width 90%
    margin 2rem auto
    justify-content space-between

    li
      margin-left 0

.Gallery

  &__item
    width calc(50% - .25rem)
    margin-bottom .5rem

.Profile

  .About
    width 100%
    flex-wrap wrap
    min-width auto

    &__image
      margin 0 auto

    &__text
      margin 3rem 0

.Footer
  margin 0 -2rem
  padding 1rem 2rem