.App
  padding 0 1rem

.container
  padding 0

.AdminBar
  padding 0.5rem 1rem

.Nav
  padding 3rem 0 2rem 0

  &__logo
    margin 0 auto 2rem auto

  nav 
    width 100%

  &__items
    max-width 32rem
    width 90%
    margin 2rem auto
    justify-content space-between

    li
      margin-left 0

.Gallery

  &__item
    width calc(50% - .25rem)
    margin-right .5rem
    margin-bottom .5rem

    &:nth-child(3n)
      margin-right .5rem

    &:nth-child(2n)
      margin-right 0rem

.Modal
  &__window
    padding 1rem
    max-height 100%
    max-width 100%
    width 100%

.AddPhoto, .Lightbox
  flex-direction column

  &__photo
    margin -1rem -1rem 0 -1rem
    min-height auto
    overflow hidden

    img
      max-height 65vh
      max-width 100%
      width auto

  &__no-meta .Lightbox__photo
    margin 0 -1rem

  &__meta
    flex-direction column
    padding 3rem 0 0 0
    width 100%
    overflow scroll

    &--content
      margin-bottom 1rem

  &__pagination
    font-size 3rem

    &--prev
      left 0

    &--next
      right 0

.Profile
  margin 4rem 0 2rem 0

  .About
    width 100%
    flex-wrap wrap
    min-width auto

    &__image
      margin 0 auto

    &__text
      margin 3rem 0

.Footer
  margin 0 -1rem
  padding 0 1rem